<?xml version="1.0"?>
<config>
    <modules>
        <Silpion_Przelewy>
            <version>0.1.0</version>
        </Silpion_Przelewy>
    </modules>
    <global>
        <helpers>
            <przelewy24>
                <class>Silpion_Przelewy_Helper</class>
            </przelewy24>
        </helpers>
        <blocks>
            <przelewy24>
                <class>Silpion_Przelewy_Block</class>
            </przelewy24>
        </blocks>        
        <models>
            <przelewy24>
                <class>Silpion_Przelewy_Model</class>
                <resourceModel>przelewy24_resource</resourceModel>
            </przelewy24>
            <przelewy24_resource>
                <class>Silpion_Przelewy_Model_Resource</class>
                <entities>
                    <payment>
                        <table>silpion_przelewy_payment</table>
                    </payment>
                </entities>
            </przelewy24_resource>
        </models>
        <resources>
            <silpion_przelewy_setup>
                <setup>
                    <module>Silpion_Przelewy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </silpion_przelewy_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <przelewy24>
                <use>standard</use>
                <args>
                    <module>Silpion_Przelewy</module>
                    <frontName>przelewy24</frontName>
                </args>
            </przelewy24>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <przelewy24 before='Mage_Adminhtml'>Silpion_Przelewy_Adminhtml</przelewy24>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <przelewy24>
                <active>0</active>
                <model>przelewy24/method_przelewy</model>
                <title>Przelewy24</title>
                <instructions>Po złożeniu zamówienia zostaniesz przeniesiony na stronę serwisu Przelewy24 w celu dokonania płatności.</instructions>
            </przelewy24>
        </payment>
    </default>
</config>
